In [1]:
#importing necessary libraires
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import datetime as dt
from sklearn.preprocessing import StandardScaler
import pandas_datareader.data as web
import math
import xlsxwriter
import os
import re

In [41]:
#loading data
df = pd.read_excel('Tweets/AAL.xlsx', header = 0, sheet_name = "Stream")
df.head()
stock = "AAL"

In [43]:
#removing links from the tweets
for idx, tweet in enumerate(df['Tweet content']):
    df['Tweet content'][idx] = re.sub(r'http\S+', '', tweet)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
#calculating sentiment scores
date = df['Date']
time = df['Hour']
tweet = df['Tweet content']
followers = df['Followers']
symbols = df['Symbols']



new_dict = {'date': date, 'time': time, 'tweet': tweet, 'follwers': followers, 'symbols': symbols}
new_df = pd.DataFrame(new_dict)
new_df

,date,time,tweet,follwers,symbols
0,2016-06-15,09:26,"Why American Airlines Group Inc $AAL, Novo Nor...",2039.0,"$AAL,$NVO,$SYF"
1,2016-06-15,08:18,Yesterday's top #FTSE100 fallers - Anglo Ameri...,1792.0,"$AAL,$ANTO,$SKY,$BKG,$BLT"
2,2016-06-15,08:06,SA_QuickIdeas: 5 Large-Cap Stocks With The Low...,1589.0,"$AAL,$DAL,$HPQ,$TTM,$UAL,$VLO"
3,2016-06-15,08:04,JPMorgan Chase &amp; Co. Reiterates Underweigh...,771.0,$AAL
4,2016-06-15,08:01,$DAL $AAL:\n\n5 Large-Cap Stocks With The Lowe...,788.0,"$DAL,$AAL"
...,...,...,...,...,...
6502,2016-03-10,13:02,#Cuba: U.S. #airlines vie 4 #latinamerica flig...,248.0,"$AAL,$DAL,$JBLU,$LUV,$UAL,$ALK,$VWO,$EEM,$FM,$ILF"
6503,2016-03-10,12:36,Our New Stock Pick Is On $PSNP &amp; It's Pick...,12543.0,"$PSNP,$DROP,$AAL,$SVMI"
6504,2016-03-10,12:34,Our Hot New Stock Alert Is $PSNP! Things Are R...,19713.0,"$PSNP,$DROP,$AAL,$SVMI"
6505,2016-03-10,12:32,This Mineral Exploration Company Is Heating Up...,12556.0,"$DROP,$AAL,$SVMI"
6506,2016-03-10,09:22,AAL Exchange\nSee Here ---&gt; \n\n$AAL $MITK ...,19.0,"$AAL,$MITK,$ANTH"

In [45]:
analyzer = SentimentIntensityAnalyzer()


neg = []
neu = []
pos = []
com = []

for tweet in new_df['tweet']:
    sentiment = analyzer.polarity_scores(tweet)
    neg.append(sentiment['neg'])
    neu.append(sentiment['neu'])
    pos.append(sentiment['pos'])
    com.append(sentiment['compound'])

    
new_df['negative'] = neg
new_df['neutral'] = neu
new_df['positive'] = pos
new_df['compound'] = com

In [46]:
new_df.head()

,date,time,tweet,follwers,symbols,negative,neutral,positive,compound
0,2016-06-15,09:26,"Why American Airlines Group Inc $AAL, Novo Nor...",2039.0,"$AAL,$NVO,$SYF",0.194,0.806,0.000,-0.6249
1,2016-06-15,08:18,Yesterday's top #FTSE100 fallers - Anglo Ameri...,1792.0,"$AAL,$ANTO,$SKY,$BKG,$BLT",0.000,0.899,0.101,0.2023
2,2016-06-15,08:06,SA_QuickIdeas: 5 Large-Cap Stocks With The Low...,1589.0,"$AAL,$DAL,$HPQ,$TTM,$UAL,$VLO",0.167,0.833,0.000,-0.3818
3,2016-06-15,08:04,JPMorgan Chase &amp; Co. Reiterates Underweigh...,771.0,$AAL,0.000,1.000,0.000,0.0000
4,2016-06-15,08:01,$DAL $AAL:\n\n5 Large-Cap Stocks With The Lowe...,788.0,"$DAL,$AAL",0.245,0.755,0.000,-0.3818

In [48]:
#filtering tweets for 70 days

df_tweets = new_df[(new_df['date'] >= '2016-04-01') & (new_df['date'] <= '2016-06-11')]

df_tweets

,date,time,tweet,follwers,symbols,negative,neutral,positive,compound
299,2016-06-11,23:16,"DallasBizNews: ICYMI: American Airlines, South...",1829.0,"$AAL,$LUV",0.0,1.000,0.000,0.0000
300,2016-06-11,23:06,"ICYMI: American Airlines, Southwest can start ...",27066.0,"$AAL,$LUV",0.0,1.000,0.000,0.0000
301,2016-06-11,22:35,RT @WallStJesus: JUMPS IN NASDAQ SHORTS: $AAPL...,17.0,"$AAPL,$AMD,$BIDU,$AAL,$QCOM,$ENDP,$CAR,$GILD,$...",0.0,1.000,0.000,0.0000
302,2016-06-11,22:10,RT @WallStJesus: JUMPS IN NASDAQ SHORTS: $AAPL...,339.0,"$AAPL,$AMD,$BIDU,$AAL,$QCOM,$ENDP,$CAR,$GILD,$...",0.0,1.000,0.000,0.0000
303,2016-06-11,21:44,TUP Prev Close\nSee Here ---&gt; \n\n$TUP $ORE...,78.0,"$TUP,$OREX,$AAL",0.0,1.000,0.000,0.0000
...,...,...,...,...,...,...,...,...,...
5733,2016-04-01,02:03,$AAL:\n\nAmerican Airlines Groupâ€™s (AAL) â€œOutp...,699.0,$AAL,0.0,1.000,0.000,0.0000
5734,2016-04-01,01:50,American Airlines Group's outperform rating re...,4519.0,$AAL,0.0,0.794,0.206,0.3818
5735,2016-04-01,01:47,RT SeekingAlpha: Airplane And Hospitality Indu...,8560.0,"$HOT,$MAR,$JBLU,$DAL,$LUV,$AAL,$ALK",0.0,1.000,0.000,0.0000
5736,2016-04-01,01:45,American Airlines Group's outperform rating re...,4001.0,$AAL,0.0,0.794,0.206,0.3818
5737,2016-04-01,00:10,"$AAL - BUY Signal at 41.38 on Mar 30, 16 By T...",276.0,$AAL,0.0,1.000,0.000,0.0000

In [29]:
start = dt.datetime(2016, 4, 2)
end =  dt.datetime(2016, 6, 11)

df_stock = web.DataReader(stock, 'yahoo', start, end)

In [49]:
df_stock

,High,Low,Open,Close,Volume_stock,Adj_Close_stock,HiLo_vola_stock,Pct_change_stock,Pct_change_stock_scaled
Date,,,,,,,,,
2016-04-04,40.240002,39.150002,39.810001,39.369999,7831200.0,37.726421,2.889222,-1.105256,-0.479860
2016-04-05,39.380001,38.740002,39.130001,38.930000,7648400.0,37.304790,1.715596,-0.511119,-0.117639
2016-04-06,39.070000,38.340000,39.070000,38.900002,5650000.0,37.276047,1.958361,-0.435112,-0.071301
2016-04-07,39.049999,37.910000,38.660000,38.360001,8206700.0,36.758587,3.101315,-0.775994,-0.279122
2016-04-08,38.720001,38.119999,38.700001,38.500000,6087400.0,36.892742,1.626342,-0.516798,-0.121102
2016-04-11,39.549999,38.669998,38.790001,38.730000,7932300.0,37.113148,2.371130,-0.154683,0.099665
2016-04-12,39.430000,38.759998,38.820000,39.189999,6426000.0,37.553940,1.784106,0.953114,0.775041
2016-04-13,40.009998,38.889999,39.299999,39.939999,12493500.0,38.272629,2.926371,1.628497,1.186794
2016-04-14,41.660000,40.250000,40.340000,41.169998,10133400.0,39.451279,3.574028,2.057506,1.448342
2016-04-15,41.360001,40.720001,41.299999,40.910000,6982200.0,39.202126,1.632563,-0.944308,-0.381737
2016-04-18,41.259998,40.439999,41.180000,40.919998,5245700.0,39.211716,2.091211,-0.631380,-0.190957
2016-04-19,41.759998,40.970001,40.990002,41.340000,6650200.0,39.614185,1.994228,0.853863,0.714532
2016-04-20,41.709999,41.110001,41.360001,41.259998,5018200.0,39.537510,1.517542,-0.241785,0.046562
2016-04-21,40.930000,39.799999,40.799999,40.009998,10782600.0,38.339710,2.947339,-1.936277,-0.986498
2016-04-22,38.490002,37.009998,37.680000,38.209999,20939500.0,36.614849,4.042085,1.406578,1.051499
2016-04-25,38.400002,36.919998,38.160000,37.000000,12670100.0,35.455364,4.174272,-3.039832,-1.659288
2016-04-26,37.490002,36.259998,37.270000,36.919998,14692700.0,35.378708,3.476677,-0.939099,-0.378561
2016-04-27,37.290001,36.520000,36.790001,36.709999,12305000.0,35.177475,2.188902,-0.217455,0.061395
2016-04-28,37.090000,35.889999,37.040001,35.970001,9836800.0,34.468365,3.481455,-2.888768,-1.567191
2016-04-29,35.830002,34.099998,35.810001,34.689999,17807200.0,33.241791,5.204303,-3.127626,-1.712812
2016-05-02,35.169998,34.400002,34.990002,34.430000,8829800.0,33.088032,2.327115,-1.600461,-0.781765
2016-05-03,34.770000,33.849998,34.759998,34.580002,10674200.0,33.232189,2.768406,-0.517827,-0.121729
2016-05-04,34.299999,33.000000,34.169998,33.209999,13412400.0,31.915586,4.073243,-2.809479,-1.518852
2016-05-05,33.520000,32.730000,33.279999,32.810001,11606100.0,31.531174,2.505460,-1.412252,-0.667022
2016-05-06,33.150002,32.189999,32.669998,33.029999,12749100.0,31.742601,3.024336,1.101930,0.865768
2016-05-09,33.799999,32.939999,33.029999,32.939999,9312500.0,31.656111,2.716697,-0.272480,0.027849
2016-05-10,33.799999,33.090000,33.240002,33.770000,8124400.0,32.453758,2.187725,1.594461,1.166043
2016-05-11,34.040001,32.849998,33.680000,32.860001,8148600.0,31.579233,3.768307,-2.434678,-1.290352
2016-05-12,33.020000,31.290001,33.009998,31.330000,14228200.0,30.108864,5.745815,-5.089362,-2.908800
2016-05-13,32.009998,31.080000,31.090000,31.510000,10132500.0,30.281847,3.071142,1.350917,1.017565
2016-05-16,32.299999,30.990000,31.809999,32.119999,12397800.0,30.868067,4.243866,0.974535,0.788100
2016-05-17,33.290001,32.020000,32.250000,32.639999,13303400.0,31.367804,4.048739,1.209300,0.931227
2016-05-18,33.360001,32.340000,32.610001,32.610001,9136300.0,31.338974,3.254735,0.000000,0.193968
2016-05-19,32.590000,31.690001,32.279999,32.150002,8875400.0,30.896898,2.912913,-0.402718,-0.051552
2016-05-20,32.810001,31.950001,32.299999,32.009998,7278000.0,30.762354,2.795627,-0.897836,-0.353404
2016-05-23,32.290001,31.700001,32.029999,31.730000,6498400.0,30.493271,1.934854,-0.936620,-0.377049
2016-05-24,32.279999,31.850000,31.889999,32.150002,6962700.0,30.896898,1.391720,0.815309,0.691028
2016-05-25,32.900002,32.099998,32.389999,32.169998,7401800.0,30.916122,2.587656,-0.679226,-0.220127
2016-05-26,32.340000,31.370001,32.130001,31.510000,7222800.0,30.281847,3.203237,-1.929663,-0.982466
2016-05-27,31.840000,31.410000,31.600000,31.650000,8573700.0,30.416388,1.413713,0.158225,0.290431
2016-05-31,31.969999,31.330000,31.750000,31.910000,9618700.0,30.666256,2.086982,0.503937,0.501197
2016-06-01,32.259998,31.730000,31.940001,31.950001,6415500.0,30.704693,1.726117,0.031309,0.213056
2016-06-02,32.070000,31.580000,31.670000,31.670000,6813300.0,30.435608,1.609956,0.000000,0.193968
2016-06-03,31.600000,30.370001,31.590000,30.809999,12424100.0,29.609127,4.154123,-2.469138,-1.311361
2016-06-06,31.299999,30.379999,30.770000,31.260000,8335400.0,30.041590,3.062421,1.592459,1.164823
2016-06-07,32.869999,31.100000,31.459999,32.360001,12424200.0,31.098719,5.691548,2.860781,1.938065
2016-06-08,32.970001,32.220001,32.630001,32.509998,8173100.0,31.242867,2.400548,-0.367768,-0.030245
2016-06-09,33.580002,32.250000,32.250000,33.400002,8188300.0,32.098186,4.143542,3.565896,2.367944
2016-06-10,33.480000,32.639999,32.799999,33.139999,8252300.0,31.848307,2.637503,1.036586,0.825930

In [31]:
df_stock.columns = ['High','Low','Open','Close','Volume_stock','Adj_Close_stock']

df_stock['HiLo_vola_stock'] = (df_stock['High'] - df_stock['Low']) / df_stock['Adj_Close_stock'] * 100.0
df_stock['Pct_change_stock'] = (df_stock['Close'] - df_stock['Open']) / df_stock['Open'] * 100.0

stock_1 = df_stock[['Pct_change_stock']].values.astype(float)

scaler = StandardScaler().fit(stock_1)

scaled_data = scaler.transform(stock_1)

df_stock['Pct_change_stock_scaled'] = scaled_data

df_stock.head()

,High,Low,Open,Close,Volume_stock,Adj_Close_stock,HiLo_vola_stock,Pct_change_stock,Pct_change_stock_scaled
Date,,,,,,,,,
2016-04-04,40.240002,39.150002,39.810001,39.369999,7831200.0,37.726421,2.889222,-1.105256,-0.479860
2016-04-05,39.380001,38.740002,39.130001,38.930000,7648400.0,37.304790,1.715596,-0.511119,-0.117639
2016-04-06,39.070000,38.340000,39.070000,38.900002,5650000.0,37.276047,1.958361,-0.435112,-0.071301
2016-04-07,39.049999,37.910000,38.660000,38.360001,8206700.0,36.758587,3.101315,-0.775994,-0.279122
2016-04-08,38.720001,38.119999,38.700001,38.500000,6087400.0,36.892742,1.626342,-0.516798,-0.121102